# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# Python:
*.py[cod]
*.so
*.egg
*.egg-info
dist
build


# Pycharm
__pycache__
.idea

# My configurations:


# 排除所有.开头的隐藏文件:
.*

# 排除所有.class文件:
*.class

# 不排除.gitignore和App.class:
!.gitignore



